// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
  background-image: linear-gradient(to bottom right, rgba(116, 185, 255,1.0), rgba(9, 132, 227,1.0));
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0,.5);
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  margin-left: .6em;
  margin-right: .6em;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

ul {
  list-style: none;
  border-radius: 15px;
  margin-top: -1em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  padding: .7em;
  background-image: linear-gradient(to bottom right, rgba(99, 110, 114,1.0),  rgba(45, 52, 54,.9));
  box-shadow: 3px 3px 3px rgba(0, 0, 0,.5);
}

li {
  background-color: rgba(223, 230, 233,1.0);
  margin: 1em;
  padding-left: .5em;
  border: 0;
  border-bottom: 2px solid rgba(178, 190, 195,1.0);
  box-shadow: inset 0 -2px rgba(178, 190, 195,1.0);
}

li:nth-child(even){
  background-color: rgba(255, 234, 167,1.0);
  padding: .2em;
  padding-left: .5em;
  margin: 1em;
  border: 0;
  border-bottom: 2px solid rgba(253, 203, 110,1.0);
  box-shadow: inset 0 -2px rgba(253, 203, 110,1.0);
}

.edit-task-links {
  padding :.2em;
  margin-left: 1.7em;
  margin-bottom: .2em;
}

li p:first-child {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  margin-top: -.1em;
  margin-bottom: -.2em;
}

li p:nth-child(2) {
margin-left: 2em;
}
li p:nth-child(3) {
margin-left: 2em;
}
a {
  color: rgba(9, 132, 227,1.0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

a:visited {
  color: rgba(232, 67, 147,1.0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

a:hover {
  color: rgba(214, 48, 49,1.0);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.new-task {
margin-left: 1.2em;
}

.new-form, .edit-task-form {
  list-style: none;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: -1em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  padding: .7em;
  background-image: linear-gradient(to bottom right, rgba(99, 110, 114,1.0),  rgba(45, 52, 54,.9));
  box-shadow: 3px 3px 3px rgba(0, 0, 0,.5);
}

.completed {
  background-color: rgba(85, 239, 196,1.0);
  margin: 1em;
  padding-left: .5em;
  border: 0;
  border-bottom: 2px solid rgba(0, 184, 148,1.0);
  box-shadow: inset 0 -2px rgba(0, 184, 148,1.0);
}

.completed-edit-task-links {
  background-color: rgba(85, 239, 196,1.0);
  margin-bottom: .4em;
  margin-left: 2em;
}

.completed:nth-child(even) {
  background-color: rgba(85, 239, 196,1.0);
  margin: 1em;
  padding-left: .5em;
  border: 0;
  border-bottom: 2px solid rgba(0, 184, 148,1.0);
  box-shadow: inset 0 -2px rgba(0, 184, 148,1.0);
}
